@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.rating-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 4px;
  border-style: solid;
  background-color: azure;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.rating-circle:hover {
  background-color: #da2f68;
  transition: all 0.2s linear;
  color: #fff;
}