.list-title {
    text-align: center;
    margin-bottom: 2rem;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

.movie-item {
    text-align: center;
}

.movie-image {
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.movie-image:hover {
    filter: brightness(0.7);
    transition: all 0.2s linear;
    cursor: pointer;
}

.movie-image-container {
    position: relative;
}

.rating-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 8px;
    margin-bottom: -16px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;
}

.movie-details {
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.movie-editor {
    color: #B4B4B3;
    font-weight: 500;
    margin-top: -20px;
}

.not-found {
    color: #B4B4B3;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 12rem;
}

.not-found-span {
    color: #da2f68;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #1c4b91;
    color: white;
    border: 1px solid #1c4b91;
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 24px
}

.pagination button:hover {
    background-color: #173d77;
}

.pagination button:disabled {
    background-color: #ddd;
    color: #555;
    cursor: not-allowed;
}

.pagination button.active {
    background-color: #da2f68;
    border: 1px solid #da2f68;
}

/* Estilos para pantallas de tablet */
@media (max-width: 768px) {
    .movie-container {
        flex-direction: column;
    }
}

/* Estilos para pantallas de móvil */
@media (max-width: 480px) {
    .movie-container {
        flex-direction: column;
    }
}