.list-title {
    text-align: center;
    margin-bottom: 2rem;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

.movie-item {
    text-align: center;
}

.movie-image {
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.movie-details {
    text-align: left;
    margin-bottom: 1rem;
}

.movie-editor {
    color: #B4B4B3;
    font-weight: 500;
    margin-top: -20px;
}	