@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: -4rem;
}

.logo-link {
  text-decoration: none;
  color: #fff;
  margin-top: -4rem;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.logo h2 {
  margin: 0;
  display: flex;
  align-items: center;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 400px;
  margin-top: -4rem;
}

.input {
  height: 40px;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #173d77;
  color: white;
  transition: 0.3s ease;
  margin-right: 6px
}

.input::placeholder {
  color: #777;
}

.input:focus {
  border: 2px solid #da2f68;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}

.search-button {
  padding: 8px 15px;
  background-color: #fff;
  color: #555;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
}

.search-button:hover {
  background-color: #da2f68;
  color: white;
  transition: all 0.2s linear;
}

/* Responsive para Moviles */
@media (max-width: 767px) {
  .header-content {
    flex-direction: column;
    margin-bottom: 0;
  }

  .logo-link {
    margin-top: -6rem;
  }

  .logo {
    margin-bottom: -4rem;
  }

  .group {
    max-width: none;
    width: 100%;
    margin-top: 1rem;
  }

  .input {
    padding-left: 2rem;
    width: 80%;
  }

  .icon {
    left: 0.5rem;
  }

  .search-button {
    width: 20%;
  }
}